- content_for(:title, "Dashboard")
- content_for :head do
  = stylesheet_link_tag('views/users')
%section.main
  = render 'includes/message' if flash_message?
  %header.clearfix
    %h1= yield(:title)
  %ul.navigation
    %li.active
      %a.btn.btn-link(href="#notifications" data-toggle="tab") Notifications
    %li
      %a.btn.btn-link(href="#ladders" data-toggle="tab") Ladders
  .tab-content
    .tab-pane#notifications.active
      %h2 Administrative notifications
      %table
        %thead
          %tr
            %th
            %th
            %th
        %tbody
          - if current_org
            / - current_org.notifications.each do |ladder|
            - 5.times do
              %tr
                %td
                  This is an example notification This is an example notification This is an example notification
                  .detail Message
                %td
                  4 hours ago
                  .detail Time sent
                %td.text-right
                  %a.btn.btn-small(href="#")
                    Archive
    .tab-pane#ladders
      %h2 Your organization's ladders
      %table
        %thead
          %tr
            %th
            %th
            %th
            %th
        %tbody
          - if current_org.has_ladders?
            - current_org.ladders.each do |ladder|
              %tr
                %td= link_to ladder.name, ladder_path(ladder)
                %td
                  = ladder.created_at.strftime("%B %d, %Y")
                  .detail Date created
                %td
                  = ladder.competitors.size
                  .detail competitors
                %td.text-right
                  %a.btn.btn-small(href="#{edit_ladder_path(ladder)}") Manage
          - else
            %tr
              %td(colspan="3") No ladders have been created