%aside
  .logo-container
    %a(href="#{current_org ? organization_path(current_org) : root_path}" title="Home")
      = image_tag('ladder-manager-logo-white.svg', :class => 'logo')
    %span.logo-text Ladder Manager
  %a.nav-toggle(href="#" title="Toggle menu")
    %span.glyphicon.glyphicon-align-justify
  .global-navigation
    .search
      %form.full-width(action="#{ladders_path}" method="GET")
        .input-group
          %input.form-control(type="search" name="query" placeholder="Search ladders")
          %button.search-button(type="submit")
            %span.glyphicon.glyphicon-search

    %ul.sidebar-menu.user-options
      - if current_user.id
        %li(class="#{request.fullpath =~ /\/ladders/ ? 'active' : nil}")
          %a(href="#{ladders_path}" title="Ladders (Rankings and Matches)")
            %span.glyphicon.glyphicon-globe
            Ladders
        %li(class="#{request.fullpath =~ /\/users/ ? 'active' : nil}")
          %a(href="#{edit_user_registration_path}" title="My Account")
            %span.glyphicon.glyphicon-user
            My Account
        %li(class="#{request.fullpath =~ /\/organization/ ? 'active' : nil}")
          %a(href="#{organization_path(current_org)}" title="Admin Settings")
            %span.glyphicon.glyphicon-cog
            Admin Settings
        %li
          %a(href="#{release_notes_path}" title="Release notes")
            %span.glyphicon.glyphicon-briefcase
            Release notes
        %li
          %a(href="#{faqs_path}" title="Frequently Asked Questions")
            %span.glyphicon.glyphicon-question-sign
            Help / FAQs
        %li
          %a.sign-out(href="#{destroy_user_session_path}" title="Sign out")
            %span.glyphicon.glyphicon-off
            Sign out
      - else
        %li
          %a(href="#{new_user_session_path}" title="My challanges")
            %span.glyphicon.glyphicon-off
            Sign in
        %li
          %a(href="#{faqs_path}" title="Frequently Asked Questions")
            %span.glyphicon.glyphicon-question-sign
            Help / FAQs
        %li
          %a(href="#{release_notes_path}" title="Release notes")
            %span.glyphicon.glyphicon-briefcase
            Release notes
