%aside
  .logo-container
    = image_tag('ladder-manager-logo-white.svg', :class => 'logo')
    %span.logo-text Ladder Manager
  %a.nav-toggle(href="#" title="Toggle menu")
    %span.glyphicon.glyphicon-align-justify
  .global-navigation
    .search
      %form.full-width(action="#{ladders_path}" method="GET")
        .input-group
          %input.form-control(type="search" name="query" placeholder="Search public ladders")
          %button.search-button(type="submit")
            %span.glyphicon.glyphicon-search

    %ul.sidebar-menu.user-options
      - if current_user.id
        %li(class="#{request.fullpath =~ /\/organizations/ ? 'active' : nil}")
          %a(href="#{organization_path(current_org)}" title="My Organization")
            %span.glyphicon.glyphicon-globe
            My Organization
        %li(class="#{request.fullpath =~ /\/users/ ? 'active' : nil}")
          %a(href="#{edit_user_registration_path}" title="My Account")
            %span.glyphicon.glyphicon-user
            My Account
        %li
          %a(href="#{release_notes_path}" title="Release notes")
            %span.glyphicon.glyphicon-briefcase
            Release notes
        %li
          %a(href="#{about_path}" title="About Ladder Manager")
            %span.glyphicon.glyphicon-question-sign
            About
        %li
          %a.sign-out(href="#{destroy_user_session_path}" title="Sign out")
            %span.glyphicon.glyphicon-off
            Sign out
      - else
        %li
          %a(href="#{new_user_session_path}" title="My challanges")
            %span.glyphicon.glyphicon-off
            Sign in
        %li
          %a(href="#" title="About Ladder Manager")
            %span.glyphicon.glyphicon-question-sign
            About
        %li
          %a(href="#{release_notes_path}" title="Release notes")
            %span.glyphicon.glyphicon-briefcase
            Release notes
