= form_for([@match, @game]) do |f|
  %p.alert.alert-info
    %span.glyphicon.glyphicon-info-sign
    Enter the numerical score for each competitor.
  = render partial: 'includes/validation_errors', locals: {error_messages: @game.errors.full_messages} if @game.errors.any?
  .field
    .form-group
      = f.text_field :competitor_1_score, :placeholder => "#{@match.competitor_1_name}'s score", :class => "form-control"
  .field
    .form-group
      = f.text_field :competitor_2_score, :placeholder => "#{@match.competitor_2_name}'s score", :class => "form-control"
  = f.submit :class => "btn btn-primary"
  = link_to "cancel", match_path(@match)
