= form_for(@game) do |f|
  = render partial: 'includes/validation_errors', locals: {error_messages: @game.errors.full_messages} if @game.errors.any?
  .field
    .form-group
      = f.text_field :competitor_1_score, :class => "form-control", :placeholder => "#{@match.competitor_1_name}'s score"
    .form-group
      = f.text_field :competitor_2_score, :class => "form-control", :placeholder => "#{@match.competitor_2_name}'s score"
  .field.text-left
    .form-group
      = f.submit :class => "btn btn-primary"
      = link_to "Cancel", match_path(@match)