= form_for(@ladder) do |f|
  .alert.alert-info
    %span.glyphicon.glyphicon-info-sign
    All fields are required.
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  .field
    .form-group
      = f.text_field :name, :class => "form-control", :placeholder => "Ladder name"
  .field.text-left
    .form-group
      = f.submit :class => "btn btn-primary"
      = link_to "Cancel", root_path
