= form_for(@ladder) do |f|
  %p.alert.alert-info All fields are required.
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  .field
    .form-group
      = f.text_field :name, :class => "form-control", :placeholder => "Ladder name"
    .form-group
      = f.text_field :admin_email, :class => "form-control", :placeholder => "Administrator email"
    .form-group
      = f.password_field :password, :class => "form-control", :placeholder => "Administrator password"
    .form-group
      = f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm administrator password"
  .field.text-left
    .form-group
      = f.submit :class => "btn btn-primary"
      = link_to "Cancel", root_path
