%ol.list-view.rankings
  - if competitors.present?
    - competitors.each do |competitor|
      %li.list-item
        .list-item-content
          .name
            = competitor.name
          %dl
            %dt Record:
            %dd #{competitor.wins}W - #{competitor.draws}D - #{competitor.losses}L
            %dt Rating:
            %dd= competitor.rating
          .competitor-avatar
            %span.glyphicon.glyphicon-user
  - else
    %li
      No competitors have been added to this ladder yet.