- content_for(:title, "Ladder Management")

%section.main
  %header.clearfix
    %ul.breadcrumbs
      %li= link_to @ladder.name, ladder_path(@ladder)
      %li Manage
    .ladder-props
      %h1= yield(:title)
  = render 'includes/message' if flash_message? && user_can_admin_ladder
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  %ul.navigation
    %li.active
      %a.btn.btn-link(href="#ladderOpts" data-toggle="tab") Edit details
    %li
      %a.btn.btn-link(href="#matchOpts" data-toggle="tab") Matches
    %li
      %a.btn.btn-link(href="#competitorOpts" data-toggle="tab") Competitors
  .tab-content

    .tab-pane#ladderOpts.active
      = render 'edit_form'

    .tab-pane#competitorOpts
      %h2 Edit Competitors
      %table
        %thead
          %tr
            %th
            %th
            %th
        %tbody
          - if @ladder.has_competitors?
            - rank = 0
            - @ladder.competitors.each do |competitor|
              %tr
                %td= link_to competitor.name, competitor_path(competitor)
                %td
                %td
          - else
            %tr
              %td(colspan="5")
                .alert.alert-info
                  %span.glyphicon.glyphicon-info-sign
                  There are currently no competitors added to this ladder.
                  - if user_can_admin_ladder
                    %a(href="#{new_ladder_competitor_path(@ladder)}" title="Add a competitor") Add a competitor
                    to begin.
          %tr
            %td.text-right(colspan="5")
              %a.btn.btn-neutral(href="#{new_ladder_competitor_path(@ladder)}" title="New competitor") New competitor

    .tab-pane#matchOpts

:coffeescript
  require ['jquery', 'backbone/collections/match_collection', 'backbone/views/matches/index_view'], ($, MatchCollection, MatchIndexView) ->
    matches                   = #{@matches_json}
    matchCollection           = new MatchCollection(matches)
    matchCollection.ladder_id = #{@ladder.id}
    matchCollection.url       = "/ladders/#{@ladder.id}/matches"
    matchIndexView            = new MatchIndexView(collection: matchCollection)

