- content_for(:title, "Ladder Management")

%section.main
  %header.clearfix
    .section-title
      %h1= yield(:title)
      %dl
        %dt
          Ladder:
        %dd
          %a(href="#{ladder_path(@ladder)}" title="Back to #{@ladder.name}")= @ladder.name
        %dt
          Competitors:
        %dd
          = @ladder.competitors.size
  = render 'includes/message' if flash_message? && user_can_admin_ladder
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  %ul.navigation.three-across
    %li.active
      %a.btn.btn-link(href="#competitors" data-toggle="tab") Competitors
    %li
      %a.btn.btn-link(href="#matches" data-toggle="tab" class="#{@ladder.has_competitors? ? nil : 'disabled'}") Matches
    %li
      %a.btn.btn-link(href="#ladders" data-toggle="tab") Details

  .tab-content

    .tab-pane#competitors.active

    .tab-pane#matches

    .tab-pane#ladders
      = render 'edit_form'

:coffeescript
  require ['jquery', 'backbone/collections/match_collection', 'backbone/views/matches/index_view', 'backbone/collections/competitor_collection', 'backbone/views/competitors/index_view'], ($, MatchCollection, MatchIndexView, CompetitorCollection, CompetitorIndexView) ->
    matches                   = #{@matches_json}
    matchCollection           = new MatchCollection(matches)
    matchCollection.ladder_id = #{@ladder.id}
    matchCollection.url       = "/ladders/#{@ladder.id}/matches"
    matchIndexView            = new MatchIndexView(collection: matchCollection)
    competitors               = #{@competitors_json}
    competitorCollection      = new CompetitorCollection(competitors)
    CompetitorCollection.url  = "/ladders/#{@ladder.id}/competitors"
    competitorIndexView       = new CompetitorIndexView(collection: competitorCollection)

