= content_for :head do
  :coffeescript
    require(['views/ladders/page'], (LadderPageView) ->
      LadderPageView.init()
    )

%section.main
  %h1 My ladders
  = render 'includes/message' if flash_message?
  - if @ladders.length > 0
    %table
      %thead
        %tr
          %th Name
          %th Created
          %th # Competitors
          %th
      %tbody
        - @ladders.each do |ladder|
          %tr
            %td= link_to ladder.name, ladder_path(ladder)
            %td= ladder.created_at.strftime("%B %d, %Y")
            %td= ladder.competitors.size
            %td.text-right
              %a.btn.icon-only(href="#{edit_ladder_path(ladder)}" title="Manage Ladder")
                %span.glyphicon.glyphicon-cog
  - else
    %p You have no ladders currently, would you like to
    %a= link_to 'create one', new_ladder_path