%section.main
  %header.clearfix
    .section-title
      %h1 Ladder search results
      %dl
        %dt Results:
        %dd= @ladders.length
    .section-actions
      %form.full-width(action="#{ladders_path}" method="GET")
        .input-group.form-group
          %input.form-control(type="search" name="query" placeholder="Search for a ladder")
          %button.search-button(type="submit")
            %span.glyphicon.glyphicon-search

  = render 'includes/message' if flash_message?
  - unless @ladders.blank?
    %ul.list-view.search-results
      - @ladders.each do |ladder|
        %li.list-item
          .list-item-content
            .name
              = link_to ladder.name, ladder_path(ladder)
            %dl
              %dt Created:
              %dd= ladder.created_at.strftime("%B %d, %Y")
              %dt Organization:
              %dd= ladder.organization.name
              %dt Competitors:
              %dd= ladder.competitors.length
              %dt Matches
              %dd= ladder.matches.length
  - else
    %p
      No ladders were found with your search term of
      %strong= @query