%section.main
  = render :partial => "includes/user_header" 
  = render 'includes/message'

  %section.ladders
    #ladders

- content_for :footer do
  :coffeescript
    require ['backbone/pages/manage_organization'], (ManageOrgPage) ->
      new ManageOrgPage(
        organization: #{@organization_json},
        ladders: #{@ladders_json},
        users: #{@users_json}
      )

