= content_for :head do
  :coffeescript
    require(['views/ladders/page'], (LadderPageView) ->
      LadderPageView.init()
    )

%div.col-medium.centeredContainer.container-small-offset
  %h1.panelHeading Your ladders
  .panel.panel-full-padding
    = render 'includes/message' unless flash.nil?
    - if @ladders.length > 0
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Created
            %th Actions
        %tbody
          - @ladders.each do |ladder|
            %tr
              %td= link_to ladder.name, ladder_path(ladder)
              %td= ladder.created_at.strftime("%B %d, %Y")
              %td
                #{link_to 'Rename', edit_ladder_path(ladder)},
                #{link_to 'Delete', ladder, method: :delete, data: { confirm: 'Are you sure?' }}
    - else
      %p You have no ladders currently, would you like to
      %a= link_to 'create one', new_ladder_path