- content_for(:title, @ladder.name)
%section.main
  %header.clearfix
    .section-title
      %h1= yield(:title)
      %dl
        %dt
          Organized by:
        %dd
          %a(href="#{url_for(@ladder.organization)}" title="@ladder.organization.name")= @ladder.organization.name
    .section-actions
      %a.btn.btn-primary.pull-right(href="#{edit_ladder_path(@ladder)}" title="Manage Ladder") Manage ladder
  %ul.navigation
    %li.active
      %a.btn.btn-link(href="#rankings" data-toggle="tab" title="Rankings") Rankings
    %li
      %a.btn.btn-link(href="#recent-matches" data-toggle="tab" title="Recent matches") Recent matches

  = resource_error_messages

  .tab-content
    .tab-pane#rankings.active
      = render partial: 'rankings', locals: {competitors: @competitors}
    .tab-pane#recent-matches
      = render partial: 'matches/matches_table', locals: {matches: @matches}