- content_for(:title, @ladder.name)
%section.main
  %header.clearfix
    %ul.breadcrumbs
      %li
        Ladder Overview
    %h1.pull-left= yield(:title)
    %a.btn.btn-small.btn-info.pull-right(href="#{edit_ladder_path(@ladder)}")
      Manage

  = render 'includes/message' if flash_message? && user_can_admin_ladder
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  - competitors_exist = @competitors.size > 0
  %table
    %thead
      %tr
        %th(style="width:1%;") Rank
        %th Name
        %th Rating
        %th.text-center W - L
    %tbody
      - if @competitors.size > 0
        - rank = 0
        - @competitors.each do |competitor|
          %tr
            %td
              %span.badge= rank += 1
            %td= link_to competitor.name, competitor_path(competitor)
            %td
              .rating-bg
                .rating-bar(style="width: #{competitor.percent_of_highest_competitor}%")
                  =competitor.rating
            %td.text-center #{competitor.wins} - #{competitor.losses}
      - else
        %tr
          %td(colspan="#{user_can_admin_ladder ? 5 : 4}")
            .alert.alert-info
              %span.glyphicon.glyphicon-info-sign
              There are currently no competitors added to this ladder.
              - if user_can_admin_ladder
                %a(href="#{new_ladder_competitor_path(@ladder)}" title="Add a competitor") Add a competitor
                to begin.

  %section
    %h2 Recent matches
    %table
      %thead
        %tr
          %th Competitors
          %th.text-right When?
      %tbody
        - if @ladder.has_matches?
          - @matches.each do |match|
            %tr
              %td
                = match.competitor_1_name
                vs.
                = match.competitor_2_name
              %td.text-right= link_to time_ago_in_words(match.created_at).capitalize + " ago", match
          %tr
            %td.text-right(colspan="3")= link_to "View all matches", ladder_matches_path(@ladder)
        - else
          %tr
            %td(colspan="2")
              .alert.alert-info
                %span.glyphicon.glyphicon-info-sign
                There are no recent matches.
                - if user_can_admin_ladder && @ladder.can_record_match?
                  %a(href="#{new_ladder_match_path(@ladder)}" title="Record a match") Record the first match
                  between your competitors.
                - elsif user_can_admin_ladder && !@ladder.can_record_match?
                  Add your first 2 competitors then you can record a match between them.

    / %h2 #{user_can_admin_ladder ? 'Admin Options' : 'Admin login'}

    / %div(class="#{user_can_admin_ladder ? 'panel' : 'panel panel-full-padding'}")
    /   - if user_can_admin_ladder
    /     %a.text-danger(href="#{ladder_path}" title="Delete ladder" data-method="delete" data-confirm="This will delete the entire ladder, its history, and all competitors. Are you sure?") Delete ladder
    /     %a(href="#{admin_preferences_path(@ladder)}" title="Edit ladder administrator preferences") Edit preferences
    /     %a(href="#{session_path}" data-method="delete" title="Sign out") Sign out
    /   - else
    /     = render 'includes/message' if flash_message?
    /     = form_tag(sessions_path, method: :post) do
    /       .field
    /         .input-group
    /           / %input(name="ladder_id" type="hidden" value="#{@ladder.id}")
    /           %input.form-control(name="email" type="text" placeholder="User email")
    /           %input.form-control(name="password" type="password" placeholder="password")
    /           %span.input-group-btn
    /             = submit_tag("Submit", :class => 'btn btn-primary')
