- content_for(:title, @ladder.name)
%section.content-wrapper.container-small-offset
  .col-medium.first
    %h1.panelHeading= yield(:title)
    = render 'includes/message' if flash_message? && user_can_admin_ladder
    = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
    .panel
      %table.table.table-striped
        %thead
          %tr
            %th(style="width:10%;") Rank
            %th(style="width:25%;") Name
            %th.text-center(style="width:25%;") Record (W - L)
            %th.text-center(style="width:25%;") Rating
            - if user_can_admin_ladder
              %th.text-right(style="width:15%;") Actions
        %tbody
          - if @competitors.size > 0
            - rank = 0
            - @competitors.each do |competitor|
              %tr
                %td
                  %span.badge= rank += 1
                %td= competitor.name
                %td.text-center #{competitor.wins} - #{competitor.losses}
                %td.text-center= competitor.rating
                - if user_can_admin_ladder
                  %td.text-right
                    %a.btn.btn-danger.btn-xs(href="#{competitor_path(competitor)}" title="Remove competitor" data-method="delete" data-confirm="Are you sure you want to remove this competitor? This action will remove the competitor permanently") Remove
          - else
            %tr
              %td(colspan="#{user_can_admin_ladder ? 5 : 4}")
                .alert.alert-info
                  %span.glyphicon.glyphicon-info-sign
                  There are currently no competitors added to this ladder.
                  - if user_can_admin_ladder
                    %a(href="#{new_ladder_competitor_path(@ladder)}" title="Add a competitor") Add a competitor
                    to begin.

  %aside.pull-right.last
    %h2.panelHeading Recent matches
    - matches_exist = @matches.size > 0
    .panel
      - if matches_exist
        %table.table.table-striped
          %thead
            %tr
              %th ID
              %th Competitors
              %th.text-right Date
            %tbody
              - @matches.each do |match|
                %tr
                  %td= link_to match.id, match
                  %td
                    = match.competitor_1_name
                    vs.
                    = match.competitor_2_name
                  %td.text-right= match.created_at.strftime("%m/%d/%Y")
              %tr
                %td.text-right(colspan="3")= link_to "View all matches", ladder_matches_path(@ladder)
      - else
        .alert.alert-info
          %span.glyphicon.glyphicon-info-sign
          There are no recent matches.
          - if user_can_admin_ladder
            Once you've added 2 or more competitors, you can
            %a(href="#{new_ladder_match_path(@ladder)}" title="Record a match") Record a match

    %h2.panelHeading #{user_can_admin_ladder ? 'Admin Options' : 'Admin login'}
    %div(class="#{user_can_admin_ladder ? 'panel' : 'panel panel-full-padding'}")
      - if user_can_admin_ladder
        %a.panel-block-link(href="#{edit_ladder_path}" title="Edit ladder") Edit ladder
        %a.panel-block-link(href="#{new_ladder_competitor_path(@ladder)}" title="Add competitor") Add competitor
        %a.panel-block-link(href="#{new_ladder_match_path(@ladder)}" title="Record a match") Record a match
        %a.panel-block-link.text-danger(href="#{ladder_path}" title="Delete ladder" data-method="delete" data-confirm="This will delete the entire ladder, its history, and all competitors. Are you sure?") Delete ladder
        %a.panel-block-link(href="#{session_path}" data-method="delete" title="Sign out") Sign out
      - else
        = render 'includes/message' if flash_message?
        = form_tag(sessions_path, method: :post) do
          .field
            .input-group
              %input(name="ladder_id" type="hidden" value="#{@ladder.id}")
              %input.form-control(name="password" type="password" placeholder="Administrator password")
              %span.input-group-btn
                = submit_tag("Submit", :class => 'btn btn-primary')
