- content_for(:title, @ladder.name)
%section.main
  %header.clearfix
    .section-title
      %h1= yield(:title)
      %dl
        %dt
          Organized by:
        %dd
          - if current_user.can_edit_ladder?(@ladder)
            %a(href="#{url_for(@ladder.organization)}" title="@ladder.organization.name")= @ladder.organization.name
          - else
            = @ladder.organization.name
    - if current_user.can_edit_ladder?(@ladder)
      .section-actions
        %a.btn.btn-primary.pull-right(href="#{edit_ladder_path(@ladder)}" title="Manage Ladder")
          %span.glyphicon.glyphicon-cog
          Manage ladder

  %ul.navigation
    %li.active
      %a.btn.btn-link(href="#rankings" data-toggle="tab" title="Rankings") Rankings
    %li
      %a.btn.btn-link(href="#recent-matches" data-toggle="tab" title="Recent matches") Recent matches

  = resource_error_messages

  .tab-content
    .tab-pane#rankings.active
      = render partial: 'rankings', locals: {ladder: @ladder, competitors: @competitors}
    .tab-pane#recent-matches
      = render partial: 'matches/matches_table', locals: {ladder: @ladder, matches: @matches}
