%p#notice= notice
/ CHANGEME
- blah = false
%div.col-medium.centeredContainer.container-small-offset
  %h1.panelHeading= @ladder.name
  .panel.panel-full-padding
    %table.table.table-striped
      %thead
        %tr
          %th(style="width:10%;") Rank
          %th(style="width:25%;") Name
          %th.text-center(style="width:25%;") Record
          %th.text-center(style="width:25%;") Rating
          - if blah
            %th.text-right(style="width:15%;") Actions
      %tbody
        - rank = 0
        - @competitors.each do |competitor|
          %tr
            %td
              %span.badge= rank += 1
            %td= competitor.name
            %td.text-center #{competitor.wins} - #{competitor.losses}
            %td.text-center= competitor.rating
            - if blah
              %td.text-right= link_to "Remove", competitor_path(competitor), method: :delete, data: {:confirm =>  "Are you sure?" }



/ %div.content-wrapper.container-small-offset.centeredContainer.clearfix
/   %div.col-xlarge
/     %h1.titleize.pull-left= @ladder.name
/     .btn-group.pull-right
/       %button.btn.btn-primary.btn-lg.dropdown-toggle(data-toggle="dropdown")
/         Admin
/         %span.caret
/       %ul.dropdown-menu
/         %li(role="presentation")
/           %a(role="menuitem" tabindex="-1" href="#") Action 1
/         %li(role="presentation")
/           %a(role="menuitem" tabindex="-1" href="#") Action 2
/         %li(role="presentation")
/           %a(role="menuitem" tabindex="-1" href="#") Action 3

/   %div.col-medium.first
/     .panel
/       %table.table.table-striped
/         %thead
/           %tr
/             %th(style="width:10%;") Rank
/             %th(style="width:25%;") Name
/             %th.text-center(style="width:25%;") Record
/             %th.text-center(style="width:25%;") Rating
/             %th.text-right(style="width:15%;") Actions
/         %tbody
/           - rank = 0
/           - @competitors.each do |competitor|
/             %tr
/               %td
/                 %span.badge= rank += 1
/               %td= competitor.name
/               %td.text-center #{competitor.wins} - #{competitor.losses}
/               %td.text-center= competitor.rating
/               %td.text-right= link_to "Remove", competitor_path(competitor), method: :delete, data: {:confirm =>  "Are you sure?" }
/   %div.col-small.last
/     .panel
/       %table.table.table-striped
/         %thead
/           %tr
/             %th(colspan="3") Recent Matches
/         - if @matches.size > 0
/           %tbody
/             - @matches.each do |match|
/               %tr
/                 %td
/                   = match.competitor_1_name
/                   vs.
/                   = match.competitor_2_name
/                 %td= match.created_at.strftime("%B %d, %Y")
/                 %td.text-right
/                   = link_to 'Details', match_path(match)
/         - else
/           .panel-body
/             %p There are no recent matches