- content_for(:title, @ladder.name)
%section.main
  %header.clearfix
    .ladder-props
      %h1= yield(:title)
      %dl
        %dt
          Organized by:
        %dd
          %a(href="#{url_for(@ladder.organization)}" title="@ladder.organization.name")= @ladder.organization.name
        %dt Status:
        %dd #{@ladder.active? ? 'Active' : 'Inactive'}
    %a.btn.btn-primary.pull-right(href="#{edit_ladder_path(@ladder)}") Manage ladder
  %ul.navigation
    %li.active
      %a.btn.btn-link(href="#rankings" data-toggle="tab") Rankings
    %li
      %a.btn.btn-link(href="#recent-matches" data-toggle="tab") Recent matches

  = render 'includes/message' if flash_message? && user_can_admin_ladder
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  .tab-content
    .tab-pane#rankings.active
      - competitors_exist = @competitors.size > 0
      %table
        %thead
          %tr
            %th(style="width:1%;")
            %th
            %th
            %th
            %th
        %tbody
          - if @competitors.size > 0
            - rank = 0
            - @competitors.each do |competitor|
              %tr
                %td
                  %span.badge= rank += 1
                %td
                  = link_to competitor.name, competitor_path(competitor)
                  .detail Last Played: #{competitor.last_match_played ? competitor.last_match_played_date.strftime("%B %d, %Y") : 'never'}
                %td
                  #{competitor.wins} - #{competitor.losses}
                  .detail Wins - Losses
                %td
                  .rating-bg
                    .rating-bar(style="width: #{competitor.percent_of_highest_competitor}%")
                      =competitor.rating
                  .detail Rating
          - else
            %tr
              %td(colspan="#{user_can_admin_ladder ? 5 : 4}")
                .alert.alert-info
                  %span.glyphicon.glyphicon-info-sign
                  There are currently no competitors added to this ladder.
                  - if user_can_admin_ladder
                    %a(href="#{new_ladder_competitor_path(@ladder)}" title="Add a competitor") Add a competitor
                    to begin.
    .tab-pane#recent-matches
      %table
        %tbody
          - if @matches
            - @matches.each do |match|
              %tr
                %td
                  = link_to match.competitor_1_name, competitor_path(match.competitor_1)
                  .detail Competitor 1
                %td
                  = link_to match.competitor_2_name, competitor_path(match.competitor_2)
                  .detail Competitor 2
                %td
                  #{match.finalized ? 'Final' : 'In progress'}
                  .detail Status
                %td
                  = match.games.size
                  .detail Games
                %td.text-right
                  = link_to time_ago_in_words(match.updated_at).capitalize + " ago", match
                  .detail Last updated
            %tr
              %td.text-right(colspan="5")
                %a.btn.btn-small.btn-neutral(href="#{ladder_matches_path(@ladder)}" title="View all matches") View all matches