= form_for([@ladder, @competitor]) do |f|
  - if @competitor.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@competitor.errors.count, "error")
        prohibited this competitor from being saved:
      %ul
        - @competitor.errors.full_messages.each do |msg|
          %li= msg
  .field
    .form-group
      = f.text_field :name, :class => "form-control", :placeholder => "Competitor name"
  .field.text-left
    .form-group
      = f.submit :class => "btn btn-primary"
      = link_to "Cancel", ladder_path(@ladder)