:coffeescript
  require ['matches/new'], (NewMatch) ->
    competitors_hash = #{competitors_hash.to_json}
    NewMatch.init(competitors_hash)

= form_for([@ladder, @match]) do |f|
  = render partial: 'includes/validation_errors', locals: {error_messages: @match.errors.full_messages} if @match.errors.any?
  .field
    .form-group
      = f.select :competitor_1, options_for_select(competitors_hash), {}, {:class => "form-control"}
  %p.text-center
    %em vs.
  .field
    .form-group
      = f.select :competitor_2, options_for_select(competitors_hash), {}, {:class => "form-control"}
  = f.submit :class => "btn btn-primary"
  %a(href="#{ladder_matches_path(@ladder)}" title="Cancel") cancel