:coffeescript
  require ['views/matches/new'], (NewMatch) ->
    competitors_hash = #{competitors_hash.to_json}
    NewMatch.init(competitors_hash)

= form_for([@ladder, @match]) do |f|
  - if @match.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@match.errors.count, "error")
        prohibited this match from being saved:
      %ul
        - @match.errors.full_messages.each do |msg|
          %li= msg
  .field
    .form-group
      = f.select :competitor_1, options_for_select(competitors_hash), {}, {:class => "form-control"}
  %p.text-center
    %em vs.
  .field
    .form-group
      = f.select :competitor_2, options_for_select(competitors_hash), {}, {:class => "form-control"}
  = f.submit :class => "btn btn-primary"
  %a(href="#{ladder_matches_path(@ladder)}" title="Cancel") cancel