%ul.list-view.bordered
  - if matches
    - matches.each do |match|
      %li.list-item
        .list-item-content
          .name
            = match.competitor_1_name
            - if match.competitor_1_is_winner? && match.finalized?
              %span.badge.success-bg.success-text Winner!
            %span.versus vs.
            = match.competitor_2_name
            - if match.competitor_2_is_winner? && match.finalized?
              %span.badge.success-bg.success-text Winner!
          %dl
            %dt Status:
            %dd #{match.finalized ? 'Final' : 'In progress'}
            %dt Games:
            %dd #{match.games.size}
            %dt Started:
            %dd #{match.created_at.strftime('%B %d, %Y')}
            %dt Updated:
            %dd #{distance_of_time_in_words(Time.now, match.updated_at).capitalize} ago
          .list-item-actions
            %a(data-toggle="collapse" data-target="#games-for-#{match.id}" title="Show/hide games")
              %span.glyphicon.glyphicon-chevron-down
        - if match.has_games?
          %div(id="games-for-#{match.id}" class="games-table-wrapper collapse")
            = render partial: 'games/games_sub_table', locals: {games: match.games, competitor_1_name: match.competitor_1_name, competitor_2_name: match.competitor_2_name}
  - else
    %li
      No matches have been recorded recently.