- content_for(:title, "All matches")
%section.main
  %header.clearfix
    %ul.breadcrumbs
      %li= link_to @ladder.name, ladder_path(@ladder)
      %li Matches
    .ladder-props
      %h1= yield(:title)
      %dl
        %dt Ladder:
        %dd= link_to @ladder.name, ladder_path(@ladder)
        %dt Total matches:
        %dd #{@ladder.matches.size}
    .btn-group.pull-right
      %a.btn.btn-primary(href="#{edit_ladder_path(@ladder)}") Manage ladder

  = render 'includes/message' if flash_message? && user_can_admin_ladder
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?

  = render partial: 'matches/matches_table', locals: {matches: @matches}