- blah = true
%div.col-large.centeredContainer.container-small-offset
  %h1.panelHeading All matches
  = render 'includes/message' if flash_message?
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  .panel
    - if @matches.length > 0
      %table.table.table-striped
        %thead
          %tr.breadcrumb-bar
            %th.breadcrumbs(colspan="5")
              %a(href="#{ladder_path(@ladder)}") #{@ladder.name}
              &#47; matches
            - if blah
              %th.text-right
                %a.btn.btn-success.btn-xs(href="#{new_ladder_match_path(@ladder)}" title="Record a new match") Record a new match
          %tr
            %th ID
            %th Competitors
            %th Date
            %th # of Games
            %th Status
            - if blah
              %th.text-right
        %tbody
          - @matches.each do |match|
            %tr
              %td= link_to match.id, match_path(match)
              %td
                = match.competitor_1_name
                vs.
                = match.competitor_2_name
              %td= match.created_at.strftime("%m/%d/%Y")
              %td= match.games.count
              %td= match.finalized? ? 'Final' : 'In Progress'
              - if blah
                %td.text-right
                  %a.btn.btn-success.btn-xs(href="#{new_match_game_path(match)}" title="Add game" class="#{match.finalized? ? 'disabled' : ''}") Add game
                  %a.btn.btn-warning.btn-xs(href="#{finalize_match_path(match)}" title="Finalize match" class="#{match.finalized? ? 'disabled' : ''}" data-confirm="If you finalize the match, it can no longer be edited. Additionally, competitor records and ratings will be permanently adjusted. Are you sure you wish to finalize this match?") Finalize
                  %a.btn.btn-danger.btn-xs(href="#{match_path(match)}" title="Delete" data-method="delete" data-confirm="Are you sure?" class="#{match.finalized? ? 'disabled' : ''}") Delete
    - else
      .panel-body
        %p There have been no matches recorded for #{@ladder.name}.
        - if blah
          %a= link_to 'Record a new match', new_ladder_match_path