= content_for(:title, "All Matches")
%section.col-large.centeredContainer.container-small-offset
  %h1.panelHeading= yield(:title)
  = render 'includes/message' if flash_message?
  = render partial: 'includes/validation_errors', locals: {error_messages: @ladder.errors.full_messages} if @ladder.errors.any?
  - matches_exist = @matches.count > 0
  .panel
    %table.table.table-striped
      %thead
        %tr.breadcrumb-bar
          %th.breadcrumbs(colspan="#{matches_exist ? 5 : 1}")
            %a(href="#{ladder_path(@ladder)}") #{@ladder.name}
            &#47; matches
          - if user_can_admin_ladder
            %th.text-right
              %a.btn.btn-success.btn-xs(href="#{new_ladder_match_path(@ladder)}" title="Record a new match") Record a new match
        - if matches_exist
          %tr
            %th ID
            %th Competitors
            %th Date
            %th # of Games
            %th Status
            - if user_can_admin_ladder
              %th.text-right
      - if matches_exist
        %tbody
          - @matches.each do |match|
            %tr
              %td= link_to match.id, match_path(match)
              %td
                = match.competitor_1_name
                vs.
                = match.competitor_2_name
              %td= match.created_at.strftime("%m/%d/%Y")
              %td= match.games.count
              %td= match.finalized? ? 'Final' : 'In Progress'
              - if user_can_admin_ladder
                %td.text-right
                  %a.btn.btn-success.btn-xs(href="#{new_match_game_path(match)}" title="Add game" class="#{match.finalized? ? 'disabled' : ''}") Add game
                  %a.btn.btn-warning.btn-xs(href="#{finalize_match_path(match)}" title="Finalize match" class="#{match.finalized? ? 'disabled' : ''}" data-confirm="If you finalize the match, it can no longer be edited. Additionally, competitor records and ratings will be permanently adjusted. Are you sure you wish to finalize this match?") Finalize
                  %a.btn.btn-danger.btn-xs(href="#{match_path(match)}" title="Delete" data-method="delete" data-confirm="Are you sure?" class="#{match.finalized? ? 'disabled' : ''}") Delete
      - else
        %tbody
          %tr
            %td(colspan="#{user_can_admin_ladder ? 2 : 1}")
              %p.alert.alert-info
                %span.glyphicon.glyphicon-info-sign
                There have been no matches recorded for this match.
                - if user_can_admin_ladder
                  %a(href="#{new_ladder_match_path(@ladder)}") Record a match