.col-md-8.centeredContainer
  %p#notice= notice
  .panel.panel-default
    .panel-heading.clearfix
      %h2.panel-title Match #{@match.id} details #{@match.finalized ? '(final)' : nil}
      .panel-actions
        %a(href="#{edit_match_path(@match)}") Edit
        %a(href="#{ladder_path(@ladder)}") Back to ladder
    - if @match.games.length > 0
      %table.table.table-striped
        %thead
          %th Game #
          %th #{@match.competitor_1_name}'s score
          %th #{@match.competitor_2_name}'s score
          %th Actions
        %tbody
          - series = 0
          - @match.games.each do |game|
            %tr
              %td= series += 1
              %td= game.competitor_1_score
              %td= game.competitor_2_score
              %td
        - if !@match.finalized
          %tfoot
            %tr
              %td(colspan="4")
                %a(href="#{new_match_game_path(@match)}") Record a new game
                %a(href="#{finalize_match_path(@match)}") Finalize match
    - else
      .panel-body
        %p There are no games recorded for this match
        %a(href="#{new_match_game_path(@match)}") Record a new game