- content_for(:title, "Match details")
%section.main
  %header.clearfix
    %ul.breadcrumbs
      %li= link_to @ladder.name, ladder_path(@ladder)
      %li= link_to 'Matches', ladder_matches_path(@ladder)
      %li Match details
    .ladder-props
      %h1= yield(:title)
      %dl
        %dt Games played:
        %dd #{@match.games.size}
        %dt Status:
        %dd #{@match.finalized? ? 'Final' : 'In progress'}
        %dt Winner:
        %dd #{@match.winning_competitor ? (link_to @match.winning_competitor.name, competitor_path(@match.winning_competitor)) : 'Undetermined'}
    .btn-group.pull-right
      %a.btn.btn-primary(href="#{new_match_game_path(@match)}") Add game
      %a.btn.btn-neutral(href="#{finalize_match_path(@match)}") Finalize match


  = render 'includes/message' if flash_message?
  = render partial: 'includes/validation_errors', locals: {error_messages: @match.errors.full_messages} if @match.errors.any?

  %table
    %tbody
      - if @match.has_games?
        - series = 0
        - @match.games.each do |game|
          %tr
            %td
              %span.badge
                = series += 1
            %td
              = game.competitor_1_score
              .detail #{@match.competitor_1_name}'s score
            %td
              = game.competitor_2_score
              .detail #{@match.competitor_2_name}'s score
            %td
              = game.created_at.strftime("%m/%d/%Y")
              .detail Date played
            %td.text-right
              %a.btn.btn-neutral.btn-small(href="#") Update game

      - else
        %tr
          %td
            %p.alert.alert-info
              %span.glyphicon.glyphicon-info-sign
              There are currently no games added for this match.
              / - if user_can_edit
              / %a(href="#{new_match_game_path(@match)}") Add a game to this match