- content_for(:title, "#{@organization.name}")
- content_for :head do
  = stylesheet_link_tag('views/users')
%section.main
  %header.clearfix
    .section-title
      %h1= yield(:title)
      %dl
        %dt
          Users:
        %dd
          = @organization.users.size

  = render 'includes/message' if flash_message? && user_can_admin_ladder
  = render partial: 'includes/validation_errors', locals: {error_messages: @organization.errors.full_messages} if @organization.errors.any?

  %section.organization-panel
    %ul.navigation.three-across
      %li.active
        %a.btn.btn-link(href="#ladders" data-toggle="tab") Ladders
      %li
        %a.btn.btn-link(href="#users" data-toggle="tab") Users

    .tab-content

      .tab-pane#ladders.active

      .tab-pane#users

  /   .tab-pane#users
  /     .section-header
  /       .section-title
  /         %h2 Your organization's users
  /         %p All of the below users can administrate your organization's ladders.
  /       .section-actions
  /         %a.btn.btn-primary(href="#{new_user_path}" title="Create a new user")
  /           %span.glyphicon.glyphicon-plus
  /           New User

:coffeescript
  require ['backbone/pages/manage_organization'], (ManageOrgPage) ->
    ladderEdit = new ManageOrgPage(
      ladders      : #{@ladders_json}
    )


