- content_for(:title, "#{@organization.name}")
- content_for :head do
  = stylesheet_link_tag('views/users')
%section.main
  %header.clearfix
    .section-title
      %h1= yield(:title)

  = render 'includes/message' if flash_message?
  = render partial: 'includes/validation_errors', locals: {error_messages: @organization.errors.full_messages} if @organization.errors.any?

  %section.organization-panel
    %ul.navigation.three-across
      %li.active
        %a.btn.btn-link(href="#ladders" data-toggle="tab" title="Edit Ladders") Ladders
      %li
        %a.btn.btn-link(href="#users" data-toggle="tab" title="Edit Users") Users

    .tab-content

      .tab-pane#ladders.active

      .tab-pane#users

:coffeescript
  require ['backbone/pages/manage_organization'], (ManageOrgPage) ->
    ladderEdit = new ManageOrgPage({
      ladders: #{@ladders_json},
      users: #{@users_json}
    })


