!!!
%html
  %head
    %title Ladder Manager - #{yield :title}
    #{stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true}
    #{requirejs_include_tag "application"}
    #{csrf_meta_tags}
    %meta(name="description" content="#{yield :description}")
    = yield :head

  %body
    %section.content-wrapper
      - exclude_sidebar = @exclude_sidebar || false
      - unless exclude_sidebar
        = render :partial => 'includes/sidebar'
        = yield :sidebar
      = yield
    = render :partial => 'includes/footer'