!!!
%html
  %head
    %title
      Ladder Manager - #{yield :title}
    #{stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true}
    #{requirejs_include_tag "application"}
    #{csrf_meta_tags}
    = yield :head

  %body
    - exclude_header = @exclude_header || false
    - unless exclude_header
      = render :partial => 'includes/header'
    = yield
    = render :partial => 'includes/footer'